*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


/* #region header */
header{
    background-image: url(./img/wall.png);
    height: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
    h1{
        font-size: 80px;
        font-family: "Edu TAS Beginner", cursive;
        font-weight: bolder;
        
    }
}
/* #endregion header */

/* #region main */
main{
    background-image: url(./img/cork.png);
    height: 100vh;
    font-family: "Edu TAS Beginner", serif;
}

/* .pin{
    width: 2rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
} */

.card{
    --bs-card-border-radius: var(--bs-border-radiu);
    
}

/* #endregion main */